@charset "utf8";

/*                           ! Responsive Slide Down A Sticky Navbar On Scroll Started Here ...
=======================================================================================================================*/
*,
*:after,
*:before,
html
	{box-sizing:border-box}

a
	{display:block;text-decoration:none}

body
	{background:#262626;text-align:center}

body,
button
	{font-family:Tahoma,Geneva,sans-serif;font-style:normal;font-weight:400}

body,
html
	{height:100%}

body,
h1,
p
	{margin:0;padding:0}

button{
	margin:0;
	border:none;
	outline:none;
	cursor:pointer
	}

button:focus
	{background:#808080;color:#000}

button,
p,
.home
	{font-size:14px}

button,
.home{
	background:transparent;
	padding:14px;
	color:#a3a3a3;
	vertical-align:middle
	}

button:hover,
.home:hover
	{background:#4d4d4d;color:#fff}

h1,
h2
	{font-size:30px}

[class*="container"]
	{display:block;position:relative;float:left}

[class*="content"]
	{display:none;position:absolute;z-index:10}

.home,
#btnMenu
	{position:relative;float:left}

#btnMenu,
.fa-close,
.acc
	{display:none}

.content_list:before,
h2:before,
h2:after
	{content:"";display:block;position:absolute}

header{
	width:100%;
	padding:16px;
	display:block;
	position:absolute;
	z-index:10;
	box-shadow:0 8px 6px -6px #000
	}

header h1,
header p
	{letter-spacing:5px;text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff}

#sticky_nav{
	background:#000;
	width:100%;
	top:-45px;
	display:block;
	position:fixed;
	z-index:999;
	transition:all .5s ease
	}

.btnList
	{width:120px}

.content_list
	{background:#fff;width:250px;top:45px}

.content_list.left,
.content_list.left:before
	{left:0}

.content_list.center
	{left:-65px}

.content_list.center:before
	{left:50%;transform:translate(-50%,0)}

.content_list.right,
.content_list.right:before
	{right:0}

.content_list:before{
	width:8px;
	top:-8px;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid #fff
	}

.container_right
	{float:right}

.content_search
	{background:#000;top:0;right:40px}

input[type=text]{
	background:#fff;
	width:100%;
	font-size:22px;
	border-radius:5px
	}

input[type=text]:focus
	{outline:none}

@media (max-width:683px){
	#btnMenu
		{display:block}

	.container_menu
		{display:none}

	.container_list
		{width:100%}

	.btnList
		{width:100%;box-shadow:0 2px 2px -2px #333}

	.drop
		{display:none}

	.acc
		{display:inline-block}

	.content_list{
		width:100%;
		top:0;
		position:relative;
		float:left
		}

	.content_list.left,
	.content_list.center,
	.content_list.right
		{left:0;right:0}

	.content_list.left:before,
	.content_list.center:before,
	.content_list.right:before
		{left:50%;transform:translate(-50%,0)}

	/* In small screen, when the "Button Nav" clicked, the "container_menu" will be replaced with the "show_menu" */

	.show_menu{
		background:#1a1a1a;
		width:100%;
		top:45px;
		display:block;
		position:absolute
		}
	}

.title,
.blank{
	width:100%;
	min-height:100%;
	display:block;
	position:relative;
	float:left
	}

h2{
	width:100%;
	top:50%;
	left:0;
	margin:0;
	padding:0 8px;
	display:block;
	position:absolute;
	color:#fff;
	transform:translate(0,-50%)
	}

h2:before,
h2:after{
	width:50px;
	height:50px;
	left:50%;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	animation:buble 1s linear infinite alternate
	}

h2:before
	{bottom:-100px}

h2:after
	{bottom:-110px}

@keyframes buble{
	from{transform:rotate(45deg) translate(-50%,0) scale(.8,.8)}
	to{transform:rotate(45deg) translate(-50%,0) scale(1,1)}
	}

.blank
	{background:#111}

/*
When the "Button Nav" & "Button Search" clicked, icon menu will be toggle to "visible" & "hidden".
When the "Button Search" clicked, the "content_search" will be replaced with the "show_search".
When the "Button List" clicked, the "content_list" will be replaced with the "show_list".
*/

.visible
	{display:inline-block}

.hidden
	{display:none}

[class*="show"]
	{display:block}

.show_list
	{padding:20px 0;animation:height 1s ease}

@keyframes height{
	from{padding:0;opacity:0}
	to{padding:20px 0;opacity:1}
	}

.show_search form
	{width:150px;padding:6px;animation:width 1s ease}

@keyframes width{
	from{width:0;opacity:0}
	to{width:150px;opacity:1}
	}
/*                            ! Responsive Slide Down A Sticky Navbar On Scroll Ended Here ...
=======================================================================================================================*/

/* This Is Not Part Of Responsive Slide Down A Sticky Navbar On Scroll */
.me{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1735448/profile/profile-80.jpg?1528976396")no-repeat center / contain;
	width:40px;
	height:40px;
	bottom:16px;
	right:16px;
	position:fixed;
	border-radius:50%;
	z-index:999;
	animation:me 2s linear infinite alternate
	}

@keyframes me{
	from{transform:translateY(-4px)}
	to{transform:translateY(4px)}
	}

.me:hover span
	{right:50px;opacity:1;visibility:visible}

.me span{
	width:150px;
	top:10px;
	right:0;
	display:block;
	position:absolute;
	color:#008080;
	font-size:16px;
	z-index:-1;
	opacity:0;
	visibility:hidden;
	transition:all .5s ease
	}
