/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-blend-mode: darken;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/* start of our code */

header{
	width: 98.3%;
	padding:16px;
	display:block;
	position:relative;
	z-index: 5;
	box-shadow:0 8px 6px -6px #000
	}

header h1,
header p
	{letter-spacing:3px;text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;}

  .test{
    width:100%;
    min-height:200%;
    display:block;
    position:relative;
    float:left
  }


  .title{
    width:100%;
    min-height:100%;
    display:block;
    position:relative;
    float:left
  }

body{
  font-family: "Arial", sans-serif;
  color: white;

  background-image: url("http://www.tokkoro.com/picsup/2143134-green-natural-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;

}



.blank{
  width:100%;
  min-height:100%;
  display:block;
  position:relative;
  float:left

}

h1 {
  text-align: center;
  color: black;

}
h2 {
  text-align: center;
}
p#bruh, p#bruh2, p#bruh3, p#bruh4 {
  text-align: center;
  font-size: 150%;
}

p#bruh5, p#bruh6 {
  text-align: center;
  font-size: 130%;
}

p{
  border-style: hidden;
  border-width: 50px;
}
