html {
  background-image: url("https://cdn.dribbble.com/users/1169028/screenshots/4256878/veeam_heart_animation_800x600.gif");
  background-size: 100%;
  border-style: solid;
  border-width: 100px;
  border-color: white;
}
body{
  font-family: "Arial",sans-serif;
  color: black;
}

h1 {
  text-align: center;
  color: black;
  font-size: 1000;
}

img#theImage {
  width: 10%;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img#theImage2 {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.solid {border-style: solid;}
