/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-blend-mode: darken;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/* start of our code */

header{
	width: 100%;
	padding:16px;
	display:block;
	position:relative;
	z-index: 5;
	box-shadow:0 8px 6px -6px #000
	}

header h1,
header p
	{letter-spacing:3px;text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;}

  .test{
    width:100%;
    min-height:200%;
    display:block;
    position:relative;
    float:left
  }


  .title{
    width:100%;
    min-height:100%;
    display:block;
    position:relative;
    float:left
  }

body{
  font-family: "Arial", sans-serif;
  color: black;

  background-image: linear-gradient(to right, white 0%, orange 100%),url("http://www.qygjxz.com/data/out/97/4787540-gray-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;

}



.blank{
  width:100%;
  min-height:100%;
  display:block;
  position:relative;
  float:left

}
h1 {
  text-align: center;
  color: black;
  font-size: 800;
}
h2 {
  text-align: center;
}
p#bruh, p#bruh2, p#bruh3 {
  border-style: solid;
  border-color: transparent;
  border-width: 10px;
  text-align: left;
  font-size: 125%;
}

p#bruh{
  padding-right: 50px;
}

p#bruh2, p#bruh3{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img#theImage {
  padding-left: 50px;
  padding-top: 30px;
  width: 95%;
  height: auto;
}
.blank{
    display: flex;
    flex-direction: column;
  }
/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 50%;
padding: 15px;

}
.column2 {
float: center;
width: 100%
padding: 15px;
}

.column3 {
width: 28.3%;
display: flex;
align-items:center;

}
.column3 img{
width: 100%;
}
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.row{
  display: flex;
  justify-content:space-around;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
.column {
width:100%;
    }
.column2 {
width: 100%;
    }
.column3 {
width: 100%;
    }
}
